@* https://stackoverflow.com/questions/65044209/render-mermaid-diagram-with-blazor-webassembly-app-in-net-5-0 *@

@*<div style=" height: 600px; width: 100%">*@
@*        <div style="width: 100%">*@
<div>
    <div id="@Id"></div>
</div>
